{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
<title>
Fact Checker
</title>

</head>
<body>

<h1>Fact Checker</h1>
<header>
<div class="main">
<ul>
<li><a href="#">Home</a></li>
<li><a href="#">About Us</a></li>
<li><a href="#">How It Works?</a></li>
<li><a href="#">Contact Us</a></li>
</ul>
</div>

<form action="?" method="post" enctype = "multipart/form-data">
{% csrf_token %}
Input Text:
<input type="file" name="file" accept = "image/*"><br><br>
<input type="submit" name= "upload" value="Check Image News">
</form>
</header>
</body>
</html>